<!DOCTYPE html>

{% load static %}
<html>

    <head>
        <title>TD Translator</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

        <meta name='copyright' content='English Only TomorrowDevs'>
        <meta property="og:locale" content="it_IT">
        <meta property="og:site_name" content="TD Translator by English Only TomorrowDevs">

    </head>
    <body>

        <header class="header">
            <div class="wrapper">
              <img src = "{% static 'images/et_logo.png' %}" class= "logo"/>
              <h1>This is an awesome translator
              <br/><span class="subtitle">By English Only group</span></h1>
              <button type="button" name="button">Try it now!</button>
            </div>
          </header>
    

            <main>
                <div class="wrapper">
                  <ul class="lang">
                    <li><a href="/lang/en/" class="{% if slug == 'en' %}on{% endif %}">italiano</a></li>
                    <li><a href="/lang/it/" class="{% if slug == 'it' %}on{% endif %}">english</a></li>
                      <li><a class="btn" href="/lang/{% if slug == 'en' %}it/{% else %}en/{% endif %}" class="btn"><img src="{% static 'images/switch_lang.png' %}"></a></li>
                      <li><a href="/lang/it/" class="{% if slug == 'it' %}on{% endif %}">italiano</a></li>
                    <li><a href="/lang/en/" class="{% if slug == 'en' %}on{% endif %}">english</a></li>
                  </ul>
                  <div class="translate-area">
                    <form action="/result/" method="POST">{% csrf_token %}
                      <input type="hidden" name="slug" id="slug" value="{{ slug }}"/>
                      <!-- <input type="text" name="word" id="tr-input"/> -->
                      <textarea id="tr-input" name=""></textarea>
                      <input class="tr_btn" type="submit" name="" value="{% if slug == 'en' %}Traduci{% else %}Translate{% endif %}" id="translateButton" /> 
                    </form>  
                    <div class="half_result">
                        <p id="translated_content"></p>           
                        {% block content %}

                        {% endblock content %}
                        
                    </div>
                  </div>
                </div>
              </main>

        <footer class="footer">
            <div class= "copyright">
              <div class="wrapper">
                <p>&copy; Copyright 2021 • English Only Team</p>
              </div>
            </div>
            <div class= "tdlogo">
              <div class="wrapper">
                <img src = "{% static 'images/td_logo.png' %}" class="logo" />
              </div>
            </div>
          </footer>
        

          <script>
            document.getElementById("translateButton").addEventListener("click", function (event) {
              doTranslation(event);
            });

            function doTranslation(event) {
              event.preventDefault();
              const translationContent = document.getElementById("tr-input").value;
              const slug = document.getElementById("slug").value;
              console.log(translationContent);
              const translation_result = document.getElementById("translated_content")

              // We can now call the remote Google API to get the translation
              fetch('http://127.0.0.1:8000/result/', {
                method: 'POST',
                body: JSON.stringify({
                  tr_content: translationContent,
                  slug: slug
                })
              })
              .then((res) => res.json())
              .then((res) => {
                console.log(res)
                // Put res.translated into the translation box
                translation_result.innerHTML = res.translated
              })
            }
          </script>
    </body>
</html>